{% extends 'base.html' %}
{% load i18n static %}
{% block content %}

<header>
		<nav>
			<input type="checkbox" id="checkbox-menu">
			<label for="checkbox-menu">
				<ul class="menu touch">
					<li><a class="logo" href="{% url 'main' %}">ЭЛЕМЕНТ</a></li>
					<li class="menu-item" ><a class="menu-link" href="{% url 'regist' %}">РЕГИСТРАЦИЯ</a></li>
				</ul>	
				<span class="toggle">☰</span>		
			</label>
		</nav>
	</header>
<main>
<section class="wrapper apartments">
	<div class="regist">
		<form method="POST" novalidate>
			{% csrf_token %}
			<div>
				{% for field in form %}
				<div class="form-group">
					<div class="label-change">{{field.label_tag}}</div>
					<div>
						{{field}}
					</div>
					<div class="error">{{field.errors}}

					</div>
				</div>
			{% endfor %}
			</div>
			<button type="submit" class="button-classic">ОТПРАВИТЬ</button>
		</form>
	</div>	
</section>
</main>
{% endblock %}